mixin menu-item(itemName)
  li.menu__item&attributes(attributes)
    a(href="#")= itemName

header.main-header
  .nav-wrapper
    img(src="./images/Logo.svg", alt="logo").menu__logo
    a.menu__button Menu
    nav.menu
      ul
        +menu-item('Home')
        +menu-item('About Us')
        +menu-item('Services')(class="menu__item--expandable")
        +menu-item('Careers')
        +menu-item('News')
        +menu-item('Documentation')
      p.nav__username Cosmin Negoita



.hren
  include ../../blocks/dropdown/dropdown.pug