.text-examples {
  position: absolute;
  width: 403px;
  height: 321px;
  left: 846px;
  top: 145px;
}
.text-examples__block {
  display: flex;
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
  p, h1, h2, h3 {
    width: 100%;
    margin: 0 0 0 30px;
    &:first-child {
      max-width: 37px;
      text-align: right;
      margin: 0;
      color: $darkshade25;
    }
  }
}