.calendar
  .datepicker-here
include ../buttons/borderless-button/borderless-button.pug
.calendar__buttons
  +borderless-button('Очистить')(class="calendar__clear-button")
  +borderless-button('Применить')(class="calendar__apply-button")
