doctype html
html(lang="en")
    head
        title= "Colors"
    body
        section.colors
            mixin color-block(name, rgb)
                .color-block
                    .color-block__palette
                    .color-block__name=name
                    .color-block__rgb=rgb
            +color-block('Dark Shade 100%', '#1F2041')
            +color-block('Dark Shade 75%', '#1F2041')
            +color-block('Dark Shade 50%', '#1F2041')
            +color-block('Dark Shade 25%', '#1F2041')
            +color-block('Dark Shade 5%', '#1F2041')
            +color-block('Purple', '#BC9CFF')
            +color-block('Green', '#6FCF97')