.sl_ctr { 
  position:relative;
  width:270px;
  overflow:hidden;
  border-radius: 4px 4px 0px 0px;
}
.sldr {
  position:relative;
  width:10000px;
}
.sldr img {
  float:left;
  display: block;
  width: 270px;
}
.prv_b, .nxt_b {
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 53px;
  width:44px;
  height:44px;
  cursor:pointer;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 24px;
}
.prv_b:hover, .nxt_b:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:.6;
}
.prv_b {
  transform: rotate(90deg);
}
.nxt_b {
  right: 0;
  transform: rotate(-90deg);
}
.dots {
  list-style: none;
  width:100%;
}
.dots .dot {
  background: #888;
  border-radius: 50%;
  display: inline-block;
  width:20px;
  height:20px;
  cursor: pointer;
}

.room-card {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  &__main {
    margin: 10px 17px 10px 20px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__number {
    font-size: 20px;
    line-height: 17px;
    font-weight: 1100;
    &:before {
      content: '№ ';
      font-size: 14px;
      font-weight: bold;
    }
    &::after {
      content: ' люкс';
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $purple;
    }
  }
  &__price-per-day {
    font-size: 14px;
    line-height: 18px;
    color: $darkshade50;
    &:after {
      content: ' в сутки';
      font-weight: normal;
      font-size: 12px;
      text-transform: lowercase;
    }
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    padding-top: 8px;
  }
  &__rating-feedback {
    font-size: 14px;
    line-height: 18px;
    color: $darkshade50;
    &:after {
      content: ' Отзывов';
      font-weight: normal;
      font-size: 12px;
      text-transform: none;
    }
  }
}