.room-card
  .sl_ctr
    .sldr
      img(src="./images/room__image1.png", alt="room__image1").room__image-1
      img(src="./images/room__image2.png", alt="room__image2").room__image-2
    i.material-icons.prv_b expand_more
    i.material-icons.nxt_b expand_more
    ol.dots
  .room-card__main  
    .room-card__info
      h2.room-card__number 888
      h3.room-card__price-per-day 9 990р
    .room-card__rating
      include ../rate-button/rate-button.pug
      h3.room-card__rating-feedback 145
