.range-slider__wrapper
  .range-slider__numbers
    input(type="text" class="js-input-from")
    span.range-slider__icon-money -
    input(type="text" class="js-input-to")
  .range-slider__slider
    input(type="text" class="js-range-slider" name="my_range" value="")
