form.registration-form
  h1.registration-form__title Регистрация аккаунта
  include ../text__field/text__field.pug
  +text__field('name','Имя')
  +text__field('secondName','Фамилия')
  .registration-form__gender
    include ../radio-buttons/radio-buttons.pug
  .registration-form__date-of-birth
    h3 Дата рождения
    include ../masked-text__field/masked-text__field.pug
  h3.registration-form__login-data-title Данные для входа в сервис
  +text__field('email','Email')
  +text__field('password','Пароль')
  include ../toggle-switch/toggle-switch.pug
  include ../buttons/default-button/default-button.pug
  .registration-form__cta-button
    +default-button('Перейти к оплате')
  .registration-form__login
    p Уже есть аккаунт на Toxin
    include ../buttons/bordered-button/bordered-button.pug
    +bordered-button('Войти')