.copyright {
  &__socials i {
    width: 24px;
    height: 24px;
    background: lightcyan;
    font-size: 24px;
  }
}
.someicon {
  content: '\f099';
  font-family: 'FontAwesome';
  font-size: 24px;
}