.radio-buttons__select-area
  label.container(for="gender1") Мужчина
    input.radio-buttons__field(type="radio" name="gender" id="gender1" checked) 
    span.radio-buttons__checkmark
  label.container(for="gender2") Женщина
    input.radio-buttons__field(type="radio" name="gender" id="gender2") 
    span.radio-buttons__checkmark