mixin bulletItem(item)
  .bullet__row
    div.bullet__mark
    p.bullet__item= item

+bulletItem('Нельзя с питомцами')
+bulletItem('Без вечеринок и мероприятий')
+bulletItem('Время прибытия — после 13:00, а выезд до 12:00')