.comment
  div.comment__avatar
  p.comment__author Мурад Сарафанов
  p.comment__time 5 дней назад
  .comment__like
    .like-button__wrapper
      input.like-button__input(type="checkbox" id="comment__like-button")
      label.like-button__label(for="comment__like-button")
      span.like-button__counter
  p.comment__description Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.