extends ../../../layouts/main

block title
    title= "Form Elements"

block content
  include ../../../blocks/text__field/text__field.pug
  +text__field-block("text__field", "Text field", "Email")
  include ../../../blocks/dropdown/dropdown.pug
  include ../../../blocks/masked-text__field/masked-text__field.pug
  include ../../../blocks/date__dropdown/date__dropdown.pug
  include ../../../blocks/filter-date__dropdown/filter-date__dropdown.pug
  include ../../../blocks/subscription-text__field/subscription-text__field.pug
  include ../../../blocks/checkbox-buttons/checkbox-buttons.pug
  include ../../../blocks/radio-buttons/radio-buttons.pug
  include ../../../blocks/toggle-switch/toggle-switch.pug
  .like-button
    h3 like button
    include ../../../blocks/like-button/like-button.pug
  .rate-button
    h3 rate button
    include ../../../blocks/rate-button/rate-button.pug
  .range-slider
    h3 range slider
    include ../../../blocks/range-slider/range-slider.pug
  .buttons
    h3 buttons
    include ../../../blocks/buttons/filled-button/filled-button.pug
    include ../../../blocks/buttons/bordered-button/bordered-button.pug
    include ../../../blocks/buttons/borderless-button/borderless-button.pug
    include ../../../blocks/buttons/default-button/default-button.pug
  .pagination__field
    h3 pagination
    include ../../../blocks/pagination/pagination.pug