footer.footer-widgets
  .footer-widgets__logo.footer-widgets__column
    img(src="./images/Logo.svg", alt="Logo")
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  .footer-widgets__navigation.footer-widgets__column
    h3.footer-widgets__title Navigation
    a(href="#").footer-widgets__item About Us
    a(href="#").footer-widgets__item News
    a(href="#").footer-widgets__item Support
    a(href="#").footer-widgets__item Products
  .footer-widgets__about-us.footer-widgets__column
    h3.footer-widgets__title About us
    a(href="#").footer-widgets__item Who we are
    a(href="#").footer-widgets__item Our team
    a(href="#").footer-widgets__item Careers
    a(href="#").footer-widgets__item Investors
  .footer-widgets__support.footer-widgets__column
    h3.footer-widgets__title Support
    a(href="#").footer-widgets__item Documentation
    a(href="#").footer-widgets__item Community
    a(href="#").footer-widgets__item Get in Touch
  .footer-widgets__subscribe.footer-widgets__column
    h3.footer-widgets__title Subscribe to our newsletter
    p Receive our latest news and promotions in your inbox!
    include ../../blocks/subscription-text__field/subscription-text__field.pug