form(name="room-selection").room-selection__form
  h1.room-selection__title Найдём номера под ваши пожелания
  
  .room-selection__dates
   include ../date__dropdown/date__dropdown.pug
   +dates('Прибытие', 'Выезд')
  
  .room-selection__guests
    h3.guests
      label(for="guests") Гости
      include ../dropdown/dropdown.pug

  .room-selection__button
    include ../buttons/default-button/default-button.pug
    +default-button('Подобрать номер')