form(name="room__selection").room__selection-form
  h1 Найдём номера под ваши пожелания
  
  .room__selection--dates
    .arrival-date__wrapper
      h3
        label(for="arrival-date") Прибытие
      .arrival-date__input-wrapper
        input.input__field--short(type="date" id="arrival-date")
        span.material-icons.arrow keyboard_arrow_down
    .date-of-departure__wrapper
      h3
        label(for="date-of-departure") Выезд
      .date-of-departure__input-wrapper
        input.input__field--short(type="date" id="date-of-departure")
        span
  
  .guests__wrapper
    h3.guests
      label(for="guests") Гости
    select.input__field--long(id="guests" placeholder="Сколько гостей")
      option Двакита
      option Дети
      option Младенцы
    span.material-icons.arrow keyboard_arrow_down

  h3.submit-button
    input.input__button(type="submit" value="Подобрать номер")