.subscription-text__wrapper
  h3
    label(for="subscription-text") Subscription text field
  .subscription-text__input-wrapper
    input.input__field--middle(type="text" id="subscription-text" placeholder="Email")
    i.material-icons keyboard_arrow_right