.input__field--middle {
  @extend %input__size--middle;
  @extend %input__border;
  padding-left: 15px;
}
.subscription-text__input-wrapper {
  position: relative;
  width: 266px;
  i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    right: 0px;
    top: 5px;
    pointer-events: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}