.login__form
  form.login
  h1 Войти
  input(type="email" name="email" placeholder="Email")
  input(type="password" name="password" placeholder="Пароль")
  input(type="submit" value="Войти") 
  p Нет аккаунта на Toxin
  input(type="submit" value="Создать")