form(name="room__reservation").room-reservation__form
  .room-reservation__header
    h2.room-reservation__number 888
    h3.room-reservation__price-per-day 9 990р
  
  .room-reservation__dates
    include ../date__dropdown/date__dropdown.pug
    +dates('Прибетие','Выезд')
  
  .room-reservation__guests
    h3.room-reservation__guests-title Гости
    include ../dropdown/dropdown.pug

  .room-reservation__calc
    p 9 990р x 4 суток
    p.amount 39 960р
  
  .room-reservation__calc.service-charge
    p Сбор за услуги: скидка 2 179₽ 
    a.room-reservation__info(href="#") i
    p.amount 0р
  
  .room-reservation__calc.additional-service-charge
    p Сбор за дополнительные услуги 
    a.room-reservation__info(href="#") i
    p.amount 300р
  
  .room-reservation__calc.total-price
    h2.total-price__title Итого
    h2.amount 38 081р
  
  .room-reservation__button
    include ../buttons/default-button/default-button.pug
    +default-button('Забронировать')
  