* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1190px) {
  .wrapper {
    max-width: 735px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 360px;
  }
}