.filter-date__wrapper
  h3
    label(for="filter-date") Filter date dropdown
  .filter-date__input-wrapper  
    input.input__field--middle.datepicker-here(type="text" id="filter-date" placeholder="ДД.ММ.ГГГГ - ДД.ММ.ГГГГ" data-range="true" data-multiple-dates-separator=" - ")
    i.material-icons keyboard_arrow_down