include ../src/utils/mixins

doctype html
html(lang="en")
  head
    block title
    //-  link(rel="stylesheet", href="../../main.css")
  body
    include ../modules/ui-kit__header/ui-kit__header
    block content