.filled-button {
  font-family: 'Montserrat', sans-serif;
  width: 99px;
  height: 44px;
  background: $primary-gradient;
  border-radius: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}