mixin checkbox-button(name, text)
  .checkbox__row-wrapper
    input.checkbox__field(type="checkbox" id=name)&attributes(attributes)
    label.checkbox__label(for=name)= text

.checkbox__buttons
  h3 Checkbox buttons
  +checkbox-button("smoke", "Можно курить")
  +checkbox-button("pets", "Можно с питомцами")(checked)
  +checkbox-button("guests", "Можно пригласить гостей (до 10 человек)")(checked)