.advantages__row
  i.material-icons.advantages__icon insert_emoticon
  p.advantages__header Комфорт
  p.advantages__description Шумопоглощающие стены
.advantages__row
  i.material-icons.advantages__icon location_city
  p.advantages__header Удобство
  p.advantages__description Окно в каждой из спален