.exbandable-checkbox {
  position: relative;
  height: 240px;
  width: 266px;
  margin-bottom: -200px;
  & h3 {
    display: flex;
    align-items: center;
    height: 44px;
  }
}
.checkbox-list__button {
  position: absolute;
  left: 0;
  top: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 15px;
  &:checked ~.expandable-checkbox__list {
    height: 0%;
  }
  &:checked ~.exbandable-checkbox {
    margin-bottom: 0;
  }
  &:checked ~.expandable-checkbox__arrow {
    transform: rotate(-180deg);
  }
}
.expandable-checkbox__list {
  padding-left: 0;
  padding-top: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
}
.expandable-checkbox__arrow {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  line-height: 24px;
  color: $darkshade50;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-out;
}