.dropdown__wrapper
  h3
    label(for="dropdown") Dropdown
  .dropdown-field__wrapper
    select.input__field--long(name="dropdown")
      option(value="" disabled selected) Сколько гостей
      option 0
      option 3
      option 10
    i.material-icons keyboard_arrow_down
