.dropdown__field-wrapper{
  display: flex;
  width: 320px;
}
.dropdown__field-wrapper i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  pointer-events: none;
  color: $darkshade50;
  position: absolute;
  left: 310px;
  cursor: pointer;
}

.dropdown__field {
  background: #FFFFFF;
  border: 1px solid $darkshade25;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $darkshade25;
    line-height: 18px;
  }
  @extend %input__size--long;
  cursor: pointer;
}

div.NCS.parent {
  border: 1px solid $darkshade50;
  border-top: none;
  width: 320px;
}
a.NCS.button {
  border: 1px solid $darkshade25;
  color: $darkshade50;
}
div.NCS.name, div.NCS.value {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: $darkshade100;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
}
div.NCS.value {
  width: 30px;
}
div.NCS.category {
  margin-bottom: 7px;
  &:first-child {
    margin: 7px 0 7px 0;
  }
}
div.NCS.displayelement {
  color: $darkshade75;
  font-size: 14px;
  line-height: 24px;
}
a.NCS.close {
  font-size: 12;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $purple;
  margin: 20px 7xp 13px 0;
  display: flex;
  justify-content: flex-end;
}
.dropdown__field {
  &:hover, &:focus {
    border: 1px solid $darkshade50;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $darkshade75;
    }
  }
}

