extends ../layouts/main

block content
    section.colors
            +color-block('Dark Shade 100%', '#1F2041')(class="darkshade100")
            +color-block('Dark Shade 75%', '#1F2041')(class="darkshade75")
            +color-block('Dark Shade 50%', '#1F2041')(class="darkshade50")
            +color-block('Dark Shade 25%', '#1F2041')(class="darkshade25")
            +color-block('Dark Shade 5%', '#1F2041')(class="darkshade5")
            +color-block('Purple', '#BC9CFF')(class="purple")
            +color-block('Green', '#6FCF97')(class="green")