.rating
  .rating__field
    input(type="radio" class="rating__control" name="rating-star" id="rc1")
    input(type="radio" class="rating__control" name="rating-star" id="rc2")
    input(type="radio" class="rating__control" name="rating-star" id="rc3")
    input(type="radio" class="rating__control" name="rating-star" id="rc4")
    input(type="radio" class="rating__control" name="rating-star" id="rc5")
    label(for="rc1" class="rating__item")
      i.material-icons.star_border star_border
      i.material-icons.star star
    label(for="rc2" class="rating__item")
      i.material-icons.star_border star_border
      i.material-icons.star star
    label(for="rc3" class="rating__item")
      i.material-icons.star_border star_border
      i.material-icons.star star
    label(for="rc4" class="rating__item")
      i.material-icons.star_border star_border
      i.material-icons.star star
    label(for="rc5" class="rating__item")
      i.material-icons.star_border star_border
      i.material-icons.star star